<div class="button-container">
    <button mat-flat-button color="accent" (click)="createRandomRecipe()">
        Create Random Recipe!!
    </button>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="custom-tree-node">
      <button mat-icon-button disabled></button>
      {{ node.name }} <span *ngIf="node.quantity"> ({{ node.quantity }}) </span>
    </mat-tree-node>
  
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding class="custom-tree-node">
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{
            treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'
          }}
        </mat-icon>
      </button>
      {{ node.name }} <span *ngIf="node.quantity"> ({{ node.quantity }}) </span>
    </mat-tree-node>
</mat-tree>
  